<form method="post" action="/items">

</form>



<!-- <div>
  <form method="post" action="/new_instrument">
    {{ form.csrf_token }}
    <p>{{ form.date_bought.label }}: {{ form.date_bought }}</p>
    <p>{{ form.nickname.label }}: {{ form.nickname }}</p>
    <p>{{ form.year.label }}: {{ form.year }}</p>
    <p>{{ form.maker.label }}: {{ form.maker }}</p>
    <p>{{ form.type.label }}: {{ form.type }}</p>
    <p>{{ form.used.label }}: {{ form.used }}</p>
    <p>{{ form.submit }}</p>
  </form> -->
